.add-component-application__left-block,
.add-component-application__right-block {
    width: 50%;
}

.add-component-application__left-block {
    margin-right: 20px;
}

.add-component-application__input-form {
    display: flex;
}

.aca-input-form__article {
    width: 30%;
    margin-right: 4px;
}

.aca-input-form__name {

    margin-right: 4px;
}
.add-component-application__container {
    display: flex;
    flex-direction: column;
}

.aca-searh-form {
    margin-bottom: 20px;
}

.aca-pagination-controls__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

