.header-application-panel__container {
    position: sticky;
    top: 10px;
    left: 86px;
    padding: 20px;
    width: calc(100% - 76px);
    height: 106px;
    border-radius: 10px 10px 0px 0px;
    background-color: #F5F6FA;
    z-index: 4;
}

.application-panel__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.application-panel-header__role-discr {
    font-size: 12px;
    font-weight: 400;
    color: #948F8C;
}

.application-panel-header__line {
    width: 100%;
    height: 1px;
    background-color: #D5DAE0;
    margin-bottom: 20px;
}

.application-panel-header__title {
    font-size: 24px;
    line-height: 24px;
    font-size: 400;
    margin-bottom: 8px;
    color: #342F2C;
}

.application-panel-header__botton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
}