.navigation-bar-min {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70px;
    min-width: 70px;
    height: calc(100vh - 20px); /* вычел падинги у секции */
    background-color: #F5F6FA;
    border-radius: 10px;
    margin-right: 10px;
}

.navigation-bar-max {
    position: fixed;
    left: 82px;
    width: 300px;
    min-width: 300px;
    height: calc(100vh - 20px); /* вычел падинги у секции */
    background-color: #F5F6FA;
    border-right: 1px solid #D5DAE0;
    border-radius: 10px;
    margin-right: 10px;
    z-index: 10;
}

.navigation-bar-min__top-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-bar-min__logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.top-block__line {
    width: 40px;
    height: 1px;
    background-color: #D9D9D9;
    margin-bottom: 20px;
}

.navigation-icon-block__item {
    margin-bottom: 20px;
    cursor: pointer;
}

.bottom-block__navigation-arrow {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.navigation-arrow-img:not(:last-of-type) {
    margin-right: 10px;
}

.fice-lodo-block {
    width: 50px;
    height: 50px;
    background-color: #D5DAE0;
    border-radius: 50%;
}