.orders-block-section {
    width: 100%;
}

.filter-section {
    display: flex;
    align-items: center;
}

.filter-section label {
    width: 300px;
    font-size: 18px;
}

.obs_td-component {
    color: #374063 !important;
    background-color: #F5F6FA !important;
}

#edit-status-filter {
    height: 38px;
}

.obs-table-td__icon-save {
    width: 38px;
    text-align: center;
}

.orders-block-section__icon-save {
    margin: 0px;
    padding: 0px;
    padding-top: 6px;
    width: 26px;
}