.orders-block-section {
    width: 100%;
}

.filter-section {
    display: flex;
    align-items: center;
}

.filter-section label {
    width: 300px;
    font-size: 18px;
}

.obs_td-component {
    color: #374063 !important;
    background-color: #F5F6FA !important;
}