.view-suppliers-offers__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.view-suppliers-offers__search-block {
    margin-bottom: 40px !important;
}

.view-suppliers-offers__all-offest-title {
    font-weight: 800;
}

.table-borderless__theder {
    background-color: #D5DAE0;
}

.table-borderless__theder th {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.table-borderless__tbody td {
    vertical-align: top;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 8px;
}

.table-borderless__check-coll {
    width: 40px;
}

.table-borderless__article {
    min-width: 300px;
}

.table-borderless__name {
    width: 100%;
}

.pagination-controls__block {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.pagination-controls__button {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}