.list-purchase-block__form-block {
    display: flex;
}

.lp-form-block__input {
    margin-bottom: 20px;
}

.lp-form-block__button {
    width: 300px;
    height: 36px;
}

.list-purchase {
    width: 100%;
    margin-right: 40px;
}

.lp-item__context-block {
    display: flex;
    align-items: center;
    width: 100%;
}

.list-purchase__item {
    display: flex;
    border-radius: 4px;
    padding: 4px 4px 4px 8px;
    background-color: #E0E5F8;
    margin-bottom: 2px;
}

.lp-item__purchase-id,
.lp-item__check,
.lp-item__purchase-id,
.lp-item__purchase-name,
.lp-item__purchase-price {
    border-right: 1px solid #F5F6FA;
}

.lp-item__check {
    width: 24px;
}

.lp-item__purchase-id {
    padding-left: 10px;
    width: 200px;
    text-align: left;
}

.lp-item__purchase-name {
    width: 50%;
    padding-left: 10px;
}

.lp-item__purchase-price {
    width: 150px;
    text-align: center;
}

.lp-item__purchase-name-costomer {
    padding-left: 10px;
}

.lp-item__purchase-save {
    width: 214px;
    height: 34px;
    padding: 4px 8px 4px 8px;
}

