.lpc-item__article {
    min-width: 200px;
}

.lpc-item__name {
    width: 100%;
}

.lpc-item__quantity,
.lpc-item__price {
    text-align: center;
    min-width: 100px;
}

.lpc-item__delivery {
    text-align: center;
    min-width: 150px;
}

.lpc-item__provider {
    min-width: 250px;
}


.lpc-item__button-delete {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 0.5px solid red;
    border-radius: 4px;
    color: red;
    background-color: #FFF;
}