.add-company-provider__section {
    position: relative;
    padding: 16px 10px 8px 10px;
    width: 100%;
    background-color: #E0E5F8;
    border-radius: 4px;
}

.acps-slider {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.acps__add-button {
    width: 100%;
}
