.loading-data-from-1C-block {
    padding: 20px;
    border-radius: 10px;
    background-color: #FAC855;
}

.ldfb__title {
    margin-bottom: 20px;
}

.collaborator-provider-info-block {
    padding: 20px;
    border-radius: 10px;
    background-color: #FAC855;
}

.cpib__title {
    margin-bottom: 20px;
}