.iformation-panel-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.iformation-panel-left-block {
    width: 70%;
}

.iformation-panel-right-block {
    height: 100%;
    width: 29%; /* Оставим зазор на отступ */
}

.information-company-card {
    position: relative;
    padding: 20px;
    width: 100%;
    min-height: 200px;
    height: auto;
    border-radius: 6px; 
    background-color: #E0E5F8;
    margin-right: 20px;
    margin-bottom: 20px;
}

.information-company-card__edit-botton {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 4;
}

.information-company-card__title {
    position: inherit;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    z-index: 3;
}

.information-company-card__title_fon {
    position: absolute;
    top: 50px;
    left: 31px;
    width: 223px;
    height: 4px;
    background-color: #FAC855;
    border-radius: 4px;
    z-index: 0;
}

.information-company-card__name-company {
    font-size: 20px;
    font-weight: 400;
    color: #342F2C;
}

.information-company-card__item {
    margin-bottom: 10px;
}

.information-company-card__item_title {
    font-weight: 800;
}


.information-user-card {
    position: relative;
    padding: 20px 20px 60px 20px ;
    width: 100%;
    height: auto;
    border-radius: 6px;
    background-color: #FFF;
    margin-bottom: 20px;
}

.information-user-card__title {
    position: inherit;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    z-index: 4;
}

.information-user-card__title_fon {
    position: absolute;
    position: absolute;
    top: 24px;
    left: 10px;
    width: 313px;
    height: 14px;
    border-radius: 10px;
    background-color: #FAC855;
    z-index: 0;
}

.information-user-card__edit-botton {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.information-user-card__item_discr {
    margin-bottom: 10px;
}