.application-panel-section {
    display: flex;
    padding: 10px;
}

/* .application-panel__body {
    position: absolute;
    top: 116px;
    left: 86px;
    padding: 20px;
    width: calc(100% - 96px);
    min-height: calc(100vh - 126px);
    background-color: #F5F6FA;
} */