.application-panel-section {
    display: flex;
    padding: 10px;
}

.application-panel__body {
    padding: 20px;
    width: 100%;
    height: calc(100vh - 20px);
    border-radius: 10px;
    background-color: #F5F6FA;
}