.add-item-purchase-section {
    position: relative;
}

.add-item-purchase__form-block {
    display: flex;
    padding: 20px 0px 0px 0px;
    margin-bottom: 20px;
}

.aip-block__input {
    margin-right: 10px;
}

.aip-block__button {
    width: 200px;
    margin-right: 10px;
}

.aip-block__purchase-save {
    width: 300px;
}

.add-item-purchase__result-search {
    position: absolute;
    top: 70px;
    width: 100%;
    padding: 10px;
    min-height: 100px;
    border-radius: 10px;
    background-color: aqua;
}

.aip-result-search__list {
    display: flex;
    flex-direction: column;
}

.aip-result-search__item {
    display: flex;
}

.aip-rs-item_vendor {
    min-width: 250px;
    margin-right: 20px;
}