.add-item-purchase-block {
    display: flex;
    padding: 20px 0px 0px 0px;
    margin-bottom: 20px;
}

.aip-block__input {
    margin-right: 10px;
}

.aip-block__button {
    width: 200px;
    margin-right: 10px;
}

.aip-block__purchase-save {
    width: 300px;
}